[Unit]
Description=H31Proxy
After=network.target
RequiresMountsFor=/etc /usr

[Service]
ExecStart=/usr/local/h31/scripts/start-h31proxy.sh
EnvironmentFile=/usr/local/h31/conf/h31proxy.conf
RuntimeDirectory=h31proxy
RuntimeDirectoryMode=0755
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

